$primary-color: #FF0000;

body {
  background-color: $primary-color;
}

.App {
  .title {
    background-color: blue;
    color: pink;
    text-align: center;
  }

  &__todo {
    background-color: pink;
  }
}

